<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Training Management System", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <!--<li><%= link_to "Users", 'users'%></li>-->
        <!--<li><%= link_to "Microposts", 'microposts'%></li>-->
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
